h1{
    font-size: 38px;
    font-family: sans-serif;
    text-transform: none;
    color: var(--MAIN-TEXT-color) !important;
}
#sitetitle{
    color: #fff;
    font-size: 38px;
    font-family: sans-serif;
}
#sidebar ul.topics > li > a {
    font-size: 16px !important
}
#sidebar {
    font-weight: 400 !important;
}
#body a.highlight:after {
    font-size: 18px !important;
}
body {
    font-family: sans-serif;
    font-size: 18px !important;
}
